# Bot Nerdinha (Skoice e Logs)
NERDINHA_TOKEN=SEU_TOKEN_AQUI
NERDINHA_CLIENT_ID=SEU_CLIENT_ID_AQUI

# Bot Mestre (Fichas e RP)
MESTRE_TOKEN=SEU_TOKEN_AQUI
MESTRE_CLIENT_ID=SEU_CLIENT_ID_AQUI

# Canais
GUILD_ID=1490048747961585894
APPROVAL_CHANNEL_ID=1490065464473157702
LOGS_CHANNEL_ID=ID_DO_CANAL_LOGS
CHAT_CHANNEL_ID=ID_DO_CANAL_CHAT
RP_CHANNEL_ID=ID_DO_CANAL_RP

# Servidor Minecraft
RCON_HOST=127.0.0.1
RCON_PORT=25575
RCON_PASSWORD=SEU_RCON_PASSWORD_AQUI
